/******************************************************************
IMPORTS & DEPENDENCIES
******************************************************************/

// bower:scss
@import "normalize-scss/_normalize.scss";
// endbower

@import "partials/vars";




body {
  background: #fafafa;
  font-family: $font-gen;
  color: #333;
}

