/******************************************************************
IMPORTS & DEPENDENCIES
******************************************************************/

// bower:scss
@import "normalize-scss/_normalize.scss";
// endbower

//VARIABLES
@import "partials/vars";

//RESPONSIVE GRID
@import "partials/grid";

//MIXINS
@import "modules/mixins";

//BASE (MOBILE) SIZE
@import "breakpoints/base";

//LARGER MOBILE DEVICES
@media only screen and (max-width: 767px) {
	@import "breakpoints/767down";
}

//TABLET & SMALLER LAPTOPS
@media only screen and (min-width: 768px) {
	@import "breakpoints/768up";
}

//DESKTOP
@media only screen and (min-width: 1030px) {
	@import "breakpoints/1030up";
}

//Start of WIDE
@media only screen and (min-width: 1420px) {
	@import "breakpoints/1420up";
}

body {
	background: $background-body;
	font-family: $font-gen;
	color: $text-body;
	font-size: 16px;
}

h1 {
	margin: 0 auto;
	color: $text-header;
	box-sizing: border-box;
	padding-right: 0 !important;
}

span.flickr-blue {
	color: $flickr-blue;
}

span.flickr-pink {
	color: $flickr-pink;
}

#main {
	@include box-shadow(0, 3px, 6px, 0, rgba(0, 0, 0, 0.22));

	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $background-main;
	z-index: 1000;
}

#search {
	width: 100%;
	text-align: left;
	overflow: hidden;

	form {
		box-sizing: border-box;
	}

	input#query {
		@include transition;
		@include border-radius(5px);

		box-sizing: border-box;
		outline: none;
		padding: 10px 0px 10px 10px;
		border: 1px solid #DDDDDD;

		&:focus {
			box-shadow: 0 0 5px rgba(81, 203, 238, 1);
			border: 1px solid rgba(81, 203, 238, 1);
		}
	}

	input#btn-submit {
		display: none;
	}
}

#pagination {

	text-align: center;	
	color: $text-header;
	font-family: $font-pagination;

	> div {
		padding: 5px;
		display: none;
	}

	a {
		opacity: 0.5;
		font-family: $font-pagination;
		text-decoration: none;
		color: $text-header;

		&:hover {
			opacity: 1;
		}
	}
}

#results {
	min-height: 200px;
	margin: 0 auto;
	margin-bottom: 100px;
	width: 90%;

	#welcome-msg {
		font-weight: bold;
		text-align: center;
		color: $text-welcome;
	}

	.brick {
		width: 350px;
		position: relative;
		border-radius: 15px;

		&:hover {
			cursor: pointer;
			@include box-shadow(0, 0, 24px, 0, rgba(50, 50, 50, 0.7));
		}

		> * {
			box-sizing: border-box;
		}
	}

	div.loading-gif {

		img {
			display: block;
			width: 10%;
			position: absolute;
		}
	}

	.tiled-wrapper img {

		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
	}

	.result-title {
		position: relative;
		border: 0;
		padding: 10px;
		text-align: center;
		background-color: rgba(0,0,0,1);

		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;

		color: $text-brick;
		font-size: 1.3em;
	}
}
