$font-gen: "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-body: white;
$background-main: #111;
$background-brick-title: black;

$text-body: black;
$text-brick: white;
$text-header: white;