$font-gen: Arial, Helvetica, sans-serif; //"Georgia",Cambria,Times New Roman,Times,serif;
$font-pagination: "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-body: white;
$background-main: white;
$background-brick-title: black;

$text-body: black;
$text-brick: white;
$text-header: black;

$flickr-blue: #0063dc;
$flickr-pink: #ff0084;