h1 {
	text-align: center;
	font-size: 4em; 
}

#search {
	form {
		margin: 10px 0;	
		text-align: center;
	}

	input[type="text"] {
		font-size: 1.5em;
		width: 90%;
		margin: 5px 1px 3px 0px;
		margin-left: -10px;
	}
}