@mixin transition {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;	
}

@mixin border-radius($radius) {
    -moz-border-radius:				$radius $radius $radius $radius;
    -webkit-border-radius:          $radius $radius $radius $radius;
    border-radius:                  $radius $radius $radius $radius;
}

@mixin box-shadow($a, $b, $c, $d, $color) {
	-webkit-box-shadow: $a $b $c $d $color;
	-moz-box-shadow:    $a $b $c $d $color;
	box-shadow:         $a $b $c $d $color;
}